/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.1s ease-in-out, visibility 0s 0.1s;
}

.modal-show {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.1s ease-in-out, visibility 0s 0s;
}

.modal-hide {
	opacity: 0;
}

.modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #3338;
}

.modal-okno {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	max-width: 400px;
	width: fit-content;
	height: fit-content;
	margin: auto;
	background-color: var(--color-bg);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.modal-head {
	width: 100%;
	background-color: var(--color-main);
	color: var(--color-text-contrast);
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	position: relative;
	top: -1px;
}

.modal-content {
	width: 100%;
	padding: 15px 25px;
}

.modal-zamknij {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: var(--round-value); */
	cursor: pointer;
	transition: background-color 0.05s ease-in-out;
}

/* .modal-zamknij:hover { background-color: rgba(174, 22, 22, 0.736); } */

.modal-zamknij::before,
.modal-zamknij::after {
	position: absolute;
	display: block;
	content: "";
	width: 25px;
	height: 3px;
	background-color: var(--color-text);
	opacity: 90%;
	border-radius: 2px;
	transition: background-color 0.1s ease-in-out;
}

.modal-zamknij::before { transform: rotate( 45deg ); }

.modal-zamknij::after { transform: rotate( -45deg ); }

.modal-zamknij:hover::before,
.modal-zamknij:hover::after { background-color: var(--color-text-contrast); }

@media (max-width: 768px) {
	.modal-okno {
		width: 90%;
		max-height: 90vh;
		overflow: scroll;
	}
}

